<%- include('partials/head.ejs') %>

  <body id="page-top " class="d-flex flex-column min-vh-100">

    <!-- Page Wrapper -->
    <div id="wrapper">

      <!-- Sidebar -->
      <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
          <div class="sidebar-brand-text mx-3">
            <img src="/imgs/logo.png"  width="60" height="60" alt="logo">
          </div>
        </a>

        <!-- Divider -->
        <hr class="sidebar-divider my-0">

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
          <a class="nav-link" href="/student">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>Dashboard</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
          <button class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

        <hr class="sidebar-divider d-none d-md-block">

        <!-- Logout -->
        <div>
          <li class="nav-item">
            <a class="nav-link text-center fixed-bottom" data-toggle="modal" data-target="#logoutModal" href="#">
              Logout
            </a>
          </li>
        </div>
      </ul>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <!-- Topbar -->
          <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

            <!-- Sidebar Toggle (Topbar) -->
            <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
              <i class="fa fa-bars"></i>
            </button>

            <!-- Topbar Navbar -->
            <ul class="navbar-nav ml-auto">

              <div class="topbar-divider d-none d-sm-block"></div>

              <!-- Nav Item - User Information -->
              <li class="nav-item dropdown arrow">
                <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                    <i class="
                                    fas fa-user"></i>
                    <%= user.name %></span>

                </a>
                <!-- Dropdown - User Information -->
                <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                  <a class="dropdown-item" href="/student/profile">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                  </a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                  </a>
                </div>
              </li>

            </ul>

          </nav>
          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">

            <!-- -->
            <h5>Below is the FYP assessment results by <strong>Dr. <%= panel.name %></strong> for your project entitled <strong><%= user.title %></strong>  :</h5>


            <div>
              <ul style="color: #000;">
                <li>Fulfillment of Objectives:  <strong><%= feedback.fulfillment_of_objectives %></strong></li>
                <li>Fulfillment of Requirements/Specifications:  <strong><%= feedback.fulfillment_of_requirements_specifications %></strong> </li>
                <li>Design and Technical Implementation: <strong><%= feedback.design_and_technical_implementation %></strong></li>
                <li>UI/UX:  <strong><%=  feedback.ui_ux %></strong> </li>
                <li>System Complexity:  <strong><%= feedback.error_free_and_error_handling %></strong></li>
                <li>Error-free and Error Handling: <strong><%= feedback.system_complexity %></strong></li>
                <li>Testing Techniques:  <strong><%= feedback.testing_techniques %></strong> </li>
                <li>Collaboration with Stakeholder: <strong><%= feedback.stakeholder %></strong> </li>
                <li>Presentation Skills:  <strong><%=  feedback.presentation_skills %></strong></li>
                <li>Overall Presentation: <strong><%=  feedback.overall %></strong> </li>
              </ul>
            </div>
            <div class="w-100"></div>



   
  

            <div>
              <p>Comments & Suggestions for improvement:</p>
              <div class="border border-secondary w-50">
                  <%- feedback.comments %> 
              </div>
            </div>


            <div class="w-100 mt-4"></div>

            <div>
              <p>Good luck and all the best for your viva.</p>
            </div>
          </div>
          <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <%- include('partials/footer.ejs') %>

        


          <%- include('partials/bodyEnd.ejs') %>
