<%- include('partials/head.ejs') %>

<body id="page-top " class="d-flex flex-column min-vh-100">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
 
        <div class="sidebar-brand-text mx-3"><img src="/imgs/logo.png"  width="60" height="60" alt="">
        </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/coordinator">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

      <hr class="sidebar-divider d-none d-md-block">

      <!-- Logout -->
      <div>
        <li class="nav-item">
          <a class="nav-link text-center fixed-bottom" data-toggle="modal" data-target="#logoutModal" href="#">
            Logout
          </a>
        </li>
      </div>
    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>

          <!-- Topbar Navbar -->
          <ul class="navbar-nav ml-auto">

            <div class="topbar-divider d-none d-sm-block"></div>

            <!-- Nav Item - User Information -->
            <li class="nav-item dropdown arrow">
              <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-gray-600 small">
                  <i class="
                                    fas fa-user"></i>
                  <%= user.name %> </span>

              </a>
              <!-- Dropdown - User Information -->
              <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in" aria-labelledby="userDropdown">
                <a class="dropdown-item" href="/coordinator/profile">
                  <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                  Profile
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                  <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                  Logout
                </a>
              </div>
            </li>

          </ul>

        </nav>
        <!-- End of Topbar -->

        <!-- Begin Page Content -->
        <div class="container-fluid">


          <% if (success.length ) { %>
          <hr>

          <% success.forEach(success=> { %>
          <div class="alert alert-success alert-dismissible fade show" role="alert">
            <%= success %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% }) %>
          <hr>

          <% } %>

          <% if (error.length ) { %>
          <hr>

          <% error.forEach(error=> { %>
          <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <%= error %>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <% }) %>
          <hr>

          <% } %>


          <!-- Page Heading -->
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Change Panel 2</h1>
          </div>



          <div class="row">
           <div class="col">
            <h5>Current Panel 2: <span><%= student['panel2'].name %></span></h5>
           </div>
          </div>
          <div class="w-100 mt-2"></div>


          <div>
            <p class="text-warning">Please note changing panel will delete all upcoming slots</p>
          </div>
          <!-- Content Row -->
          <form action="/coordinator/updatePanel2"  method="post">
            <div class="row">


              <div class="col-auto form-group">
                <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                <input type="hidden" name="studentID" value="<%=student.id%> ">
              </div>

              <% if (lecturers.length) { %>
              <div class="col-auto form-group">
                <select name="panel2" class="custom-select">
                  <% lecturers.forEach(lecturer => { %>
                  <option value="<%= lecturer.id %>"><%= lecturer.name %></option>
                  <% }); %>
                </select>
              </div>
              <% } %>
              <div class="col">
                <button class="btn btn-outline-primary updatePanel" type="submit">Update</button>
              </div>

            </div>
          </form>


        </div>
        <!-- /.container-fluid -->

      </div>
      <!-- End of Main Content -->

      <%- include('partials/footer.ejs') %>
        
      


      <%- include('partials/bodyEnd.ejs') %>